<div class="row" id="discussion_<%= discussion.id %>_profile">
  <%= render partial: "header", locals: { discussion: discussion } %>
</div>

<div class="row">

  <div class="row" style="margin-top:20px;">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <%= render "nimbos/comments/commentable", object: discussion %>
      </div>
    </div>
  </div>

</div>