<div class="row">

  <div class="col-md-12">
    <%= render partial: "#{@target.to_partial_path}", locals: { :"#{@target.class.name.split("""::""").last.downcase}" => @target } %>
  </div>

  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
