<% if @discussion.errors.present? %>
  toastr.error('<%= j error_messages_for(@discussion) %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= j error_messages_for(@discussion) %></div>');
  $("#messages").fadeOut(4000);
<% else %>
	$("#new_discussion_div").html("<%= escape_javascript(render 'nimbos/discussions/form') %>");
  $("#discussion_title").focus();
<% end %>
jQuery(document).ready(function() {       
	App.initAjax();
	ComponentsEditors.init();
});