<div class="row-fluid">

  <div class="row-fluid">
    <%= render partial: "#{@target.to_partial_path}", locals: { :"#{@target.class.name.split("""::""").last.downcase}" => @target } %>
  </div>

  <div class="row-fluid profile-content">
    <%= render 'form' %>
  </div>
</div>
