<div class="row-fluid">

	<%= page_header_with_block(t("discussions.title.discussions")) do %>
		<span class="text-muted">
	    <i class="fa fa-eject"></i> <%= link_to @discussion.target.to_s, resolve_engine_path(@discussion.target) %>
	  </span>
  <% end %>
  <%= render partial: "profile", locals: { discussion: @discussion } %>

</div>

<% content_for :init_scripts do %>
  <script>
    jQuery(document).ready(function() {
      $(".discussion-content").readmore('destroy');
    });
  </script>
<% end %>