<ul class="page-breadcrumb breadcrumb">
  <% if content_for?(:breadcrumb_actions) %>
    <%= yield(:breadcrumb_actions) %>
  <% end %>
  <li>
    <i class="fa fa-trophy"></i>
    <%= link_to "Home", main_app.root_url %> 
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "Admin", nimbos.dashboard_path %> 
    <i class="fa fa-angle-right"></i>
  </li>
  <li><%= link_to "Firmalar", nimbos.patrons_path %></li>
</ul>