<div class="form-body">
  <div class="row">
    <div class="col-md-6">
      <%= f.input :currency, as: :select, collection: Nimbos::Currency.all, include_blank: false %>
      <%= f.input :language, as: :select, collection: Nimbos::Listitem.languages.map { |t| [t.name, t.code] } %>
      <%= f.input :time_zone, as: :time_zone, input_html: { class: "country_select" } %>
      <%#= f.input :locale, as: :select, collection: Nimbos::Listitem.locales.map { |t| [t.name, t.code] }  %>
    </div>
  </div>
</div>