<div id="Patron_<%= patron.id %>_profile" class="row profile">
  <div class="col-md-12">
    <%= render "header", patron: patron %>
  </div>
  <div class="col-md-12">
    <%= render "content", patron: patron %>
  </div>  
</div>