<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Patron Profile <small>patron profile sample</small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li class="btn-group">
        <%= render "actions", patron: @patron %>
      </li>
      <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a> 
        <i class="icon-angle-right"></i>
      </li>
      <li>
        <a href="#">Extra</a>
        <i class="icon-angle-right"></i>
      </li>
      <li><a href="#">Patron Profile</a></li>
    </ul>
  </div>
</div>
<%= render "profile", patron: @patron %>