<div id="currencies" class="row">

  <div id="currencies_list" class="col-md-12">
    <legend>Döviz Listesi</legend>
    <%= render "nimbos/currencies/related_list", objects: @currencies %>
  </div>

</div>