<div class="row">
	<div class="col-md-4">
		<%= f.input :name, label: false, placeholder: t("branches.title.branch_info") %>
	</div>
	<div class="col-md-4">
		<%= f.input :country_id, as: :select, collection: Nimbos::Country.all, include_blank: true, priority: current_patron.country_id, label: false, placeholder: t("branches.placeholder.country") %>
	</div>
	<div class="col-md-4">
		<%= f.input :city, label: false, placeholder: t("branches.placeholder.city") %>
	</div>
	<%= f.input :id, as: :hidden, label: false %>
</div>