<ul class="nav nav-pills nav-justified steps" id="nimbos_setup_nav">
  <li>
    <a href="#tab1" data-toggle="tab" class="step active">
      <span class="number">1</span>
      <span class="desc"><i class="fa fa-check"></i> <%= t("simple_form.labels.patron.general_info") %></span>
    </a>
  </li>
  <li>
    <a href="#tab3" data-toggle="tab" class="step">
      <span class="number">3</span>
      <span class="desc"><i class="fa fa-check"></i> <%= t("simple_form.labels.patron.settings") %></span>
    </a>
  </li>
  <li>
    <a href="#tab2" data-toggle="tab" class="step">
      <span class="number">2</span>
      <span class="desc"><i class="fa fa-check"></i> <%= t("simple_form.labels.patron.change_logo") %></span>
    </a>
  </li>
  <!--li>
    <a href="#tab4" data-toggle="tab" class="step">
      <span class="number">4</span>
      <span class="desc"><i class="fa fa-check"></i> Şubeler</span>
    </a>
  </li-->
  <!--li>
    <a href="#tab5" data-toggle="tab" class="step">
      <span class="number">4</span>
      <span class="desc"><i class="fa fa-check"></i> <%= t("simple_form.labels.patron.get_start") %></span>
    </a>
  </li-->
</ul>