<div class="row">
  <div class="col-md-10">
  	<h4><%= "#{t("defaults.vocabulary.hello")} #{user_name(current_user)}; Modaltrans uygulamasına hoş geldiniz." %></h4>
  	<!--p>
      Firmanıza ait bilgileri tamamlamak için kısa süreli bir tura çıkalım. Tabii ki bu işlemi daha sonrada yapabilirsiniz.
    </p-->
    <!--div class="alert alert-info">
      <p>Herhangi bir öneri veya şikayetiniz olursa, sağ alt kısımda yer alan butonu kullanarak bize iletebilirsiniz.
    </div-->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue" id="form_wizard_1">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-reorder"></i> Firma bilgilerinizi tamamlayalım
        </div>
      </div>
      <div class="portlet-body form">

          <div class="form-wizard">
            <div class="form-body">
              <%#= render "nimbos/setup/breadcrumb" %>
              <!--div id="bar" class="progress progress-striped" role="progressbar">
                <div class="progress-bar progress-bar-success">
                </div>
              </div-->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                  <%= render "nimbos/setup/patron_info" %>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                  <%#= render "nimbos/setup/change_logo", f: f %>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                  <%#= render "nimbos/patrons/form_details", f: f %>
                </div>
                <!--div role="tabpanel" class="tab-pane" id="tab4">
                
                </div-->
                <!--div role="tabpanel" class="tab-pane" id="tab5">
                
                </div-->
              </div>
            </div>
            
          </div>
          
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function() {
    $('#nimbos_setup_nav a[href="#tab1"]').tab('show');
    $('#form_wizard_1').find('.progress-bar').css({
      width: '33%'
    });
  });
</script>