  <%= form_for [todolist, task], url: nimbos.todolist_tasks_path(todolist), html: { class: "form-inline" }, remote: true do |f| %>
    <%#= f.error_notification %>
    <!--div class="form-group">
      <%#= f.check_box :status, {}, "closed", "active" %>
    </div-->
    <div class="form-group">
      <%= f.text_field :task_text, label: false, placeholder: t("tasks.label.task_text"), class: "form-control input-xlarge" %>
    </div>
    <%= f.submit t("simple_form.helpers.submit.defaults.create"), class: 'btn btn-info' %>
		<%= link_to "Ok, I am done", "#", "data-href" => "#new_todolist_#{todolist.id}_task_div", class: "togglebutton" %>
  <% end %>
