<li class="btn-group">
	<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
	  <span>Actions</span> <i class="fa fa-angle-down"></i>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
	  <li><a href="#">Send Message</a></li>
	  <li><a href="#">Follow</a></li>
	  <li><a href="#">Change Picture</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Separated link</a></li>
	</ul>
</li>