<div id="User_#{user.id}_profile_content" class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <%= render 'user_posts', user: user %>
    </div>
    <div class="col-md-3 offset1">
      <%#= render 'user_tasks' %>
      <%#= render 'user_help' %>
    </div>
  </div>
</div>
