<div id="User_<%= user.id %>_profile" class="row profile">
  <div class="col-md-12">
    <%= render "header", user: user %>
  </div>
  <div class="col-md-12">
    <%= render "content", user: user %>
  </div>  
</div>