<div class="portlet">
  <hr>
  <div class="portlet-body" id="chats">
    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
      <%= render 'nimbos/comments/comments', object: object %>
    </div>
    <div class="chat-form">
      <%= render partial: 'nimbos/comments/form', locals: { object: object } %>
    </div>
  </div>
</div>