<div class="portlet">
  <div class="portlet-title line">
  	<div class="caption">
  	  <%= t("defaults.title.comments") %>
  	</div>
  </div>
  <div class="portlet-body" class="chats">
    <div>
      <%= render 'nimbos/comments/comments', object: object %>
    </div>
    <div class="chat-form">
      <%= render partial: 'nimbos/comments/form', locals: { object: object } %>
    </div>
  </div>
</div>