<%= form_for [object, object.comments.new], url: nimbos.comments_path(:"#{object.class.name.split("""::""").last.downcase}_id" => object.id), method: "post", html: {id: "#{normalize_model_name(object.class.name)}_#{object.id}_commentform"}, remote: true do |f| %>
  <div class="input-cont">
    <%= f.text_field :comment_text, placeholder: t("defaults.link.new_comment"), class: "form-control" %>
  </div>
  <div class="btn-cont">
    <span class="arrow"></span>
    <%= f.button :submit, class: "btn blue icn-only" do %>
      <i class="fa fa-check fa-white"></i>
    <% end %>
  </div>
<% end %>

