<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">New Reminder</h4>
    </div>

    <%= simple_form_for @reminder, remote: true, html: { class: "horizontal-form" } do |f| %>
      <%= f.error_notification %>
      <div class="modal-body">
        <%= render 'form_main', :f => f %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, t("simple_form.helpers.submit.defaults.create"), class: 'btn btn-primary' %>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    <% end %>

  </div>
</div>