<div class="row">

  <div class="col-md-12">
    <%= render partial: "#{@todop.to_partial_path}", locals: { :"#{@todop.class.name.split("""::""").last.downcase}" => @todop } %>
  </div>

	<div class="col-md-12">
    <%= render 'nimbos/todolists/form' %>
  </div>

</div>