<div class="row">
  <div class="col-md-12">
	  <%= page_header_with_block(t("todolists.title.todolists")) do %>
		  <span class="text-muted">
	      <i class="fa fa-eject"></i> <%= link_to @todolist.todop.to_s, resolve_engine_path(@todolist.todop) %>
	    </span>
    <% end %>
    <%= render @todolist %>
  </div>
</div>