/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.task-actions {
	display: none;
	margin-left:20px;
}
.task_active:hover .task-actions {
	display: inline;
}
.task_closed label {
	color: #888888;
	text-decoration: line-through;
}