<div class="input-cont">
  <%= f.text_area :message, class: "form-control", rows: "2", placeholder: t("posts.placeholder.message") %>
</div>
<div style="margin-right:40px;margin-top:10px;">
  <%= f.submit t("posts.action.submit"), class: 'btn btn-info pull-right' %>
</div>