<div class="row">

  <%= render "shared/page_title", page_title: "Şubeler", page_small_title: "Firmaya ait şube işlemleri", model_name: "branches", model_path: "nimbos/branches" %>

  <%= render 'form' %>

</div>