<div id="branches_index" class="row">

  <%= render "shared/page_title", page_title: "Şubeler", page_small_title: "Firmaya ait şube işlemleri", model_name: "branches", model_path: "nimbos/branches" %>

  <div class="row inbox">
    <div class="col-md-2">
      <ul class="inbox-nav margin-bottom-10">
        <li class="compose-btn">
          <%= link_to nimbos.new_branch_path, class: "btn green" do %>
            <i class="icon-edit"></i> Yeni Şube
          <% end %>
        </li>
        <!--li class="inbox active">
          <a href="javascript:;" class="btn" data-title="Inbox">Inbox(3)</a>
          <b></b>
        </li>
        <li class="sent"><a class="btn" href="javascript:;"  data-title="Sent">Sent</a><b></b></li>
        <li class="draft"><a class="btn" href="javascript:;" data-title="Draft">Draft</a><b></b></li>
        <li class="trash"><a class="btn" href="javascript:;" data-title="Trash">Trash</a><b></b></li-->
      </ul>
    </div>
    <div class="col-md-10">
      <div class="inbox-header">
        <h1 class="pull-left">Şube Listesi</h1>
        <%= render "shared/quick_search_form", model_name: "branches" %>
      </div>

      <div class="inbox-content">
        <%= render "nimbos/branches/list", objects: @branches, is_paginated: false %>
      </div>
    </div>
  </div>
</div>